* {
    margin: 0px;
    padding: 0px;
}

header{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

header > input {
    padding: 0px 0px 0px 0px ;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.pessoas{

    min-width: 290px; max-width: 250px;
    max-height: 135px;

    font-family: Georgia, 'Times New Roman', Times, serif;

    text-align: right;

    margin-left: 2px;
    margin-top: 2px;
    margin-right: 2px;

    display: inline-flex;
    align-items: center;

    border: 2px;
    border-style: solid;
}

.pessoas h1 {
    font-size: 18px;
    font-weight: 700;

    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

.pessoas img {
    width: 120px;
    height: 135px;
}

main {
    margin: auto;
    max-width: 1000px;
}